*{
box-sizing: border-box;
}
body{
margin: 0;
padding: 0;
background-color:darkkhaki;
font-family: 'Merriweather', serif;
}
#social{
background-color:darkkhaki;
color: whitesmoke;
text-align:right;
width: 100%;
height: 50px;
position:sticky;
top: 0;
z-index: 1;
font-size: 16px;
padding: 0px;
letter-spacing: 0.5px;
}

blockquote{
    text-align: right;
    margin-right: 0px;

}
aside{
    text-align: left;
}
font{
float: left;
letter-spacing: 1px;
}
span{
font-size: 25px;
letter-spacing: 1px;
text-align: left;
background-color:darkkhaki;
color:white;
}

#social>i:hover{
    opacity: 0.3;
}
#container{
width:auto;
margin-top: 20px;
height: auto;
border-radius: 10px;
}
header{
width: 100%;
height: 225px;
border-radius: 10px;
color: white;

}
#header image{
width: 100%;
height: 225px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
margin: auto;
}
section{
width: 100%;
height: 250px;
background-color:darkkhaki;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
box-shadow: grey;
margin-top: 15px;
letter-spacing: 2px;
}

nav{
width: 20%;
float: left;
margin-top: 10px;
height: auto;
}
nav ul{
width: auto;
height: 100%;
margin: 0;
padding: 0;
}
nav li{
list-style-type: none;
}
nav li a{
height: 50px;
line-height: 50px;
text-decoration: none;
color: black;
border-bottom: 1px solid grey;
padding-left: 20px;
display: block;
}
nav li a:hover{
color: white;
background-color: grey;
}
i{
margin-right: 10px;
}

main{
float: left;
height: auto;
width: 80%;
padding: 10px;
}
.content{
width: 48%;
height:auto;
display: inline-block;
margin-right: 15px;
border-radius: 10px;
box-shadow: 0px 2px 8px 2px rgba(red, green, blue, alpha);
}
.rsm{
    width: 100%;
    height: auto;
}
.rsm:hover{
    opacity: 0.8;
}
h5{
margin: 10px;
color:black;
}
.contenttext{

    margin: 10px;
    color:black;
}
.buttoncontinue:link{
display: block;
width: 150px;
height: 45px;
padding: 10px 20px;
background-color: gray;
color: white;
text-decoration: none;
margin: 15px;
border-radius: 10px;
}
.buttoncontinue:hover{
opacity: 0.8;
}
footer{
width: 100%;
height: auto;
}


.footer1{
width: 50%;
height:45px;
margin-bottom:0px;
text-align: left;
color:black;
}
.footer2{
    width: 50%;
    height:45px;
margin: 10px;
    color:black;
float: right;
display:block;
}
dl{text-align: right;
}
dt{
    text-align: right;
}
h1{
text-align:left;
background-color:darkkhaki;
color:black;
height: 50px;
line-height: 50px;
margin:0 10px;
border-radius: 10px;
}

#aboutusimage{
    border-radius: 10px;
}
#aboutusimage:hover{
    opacity: 0.8;
}

iframe{
width: 60%;
height: 250px;
margin-top: 10px;
margin-left: 10px;
}

.section1{
width: 100%;
height: auto;
margin: auto;
}

.form{
width: 60%;
height: 350px;
float: left;
border: 1px grey;
padding: 10px;
margin-right: 10px;
}

.row::after{
content:'' ;
clear: both;
display: block;
}
input[type=submit]{
background-color: darkkhaki;
color: white;
border-radius: 4px;
float: left;
padding: 5px;
margin-bottom: 20px;
}

.address{
margin-top: 0px;
text-align: left;
}

aside{
width: 40%;
color: yellow;
}
pre {
    font-family: 'Times New Roman', Times, serif;
    font-size:10;
    margin: 0;
}
figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin-left: 0px;
    
}



figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 5px;
    text-align: center;
}

kbd {
    background-color:black;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
    color:white;
    display: inline-block;
    font-size: .85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
   }

   caption {
    padding: 10px;
    caption-side: bottom;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
}

td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 7px 5px;
}

th {
    background-color: rgb(235, 235, 235);
}

td {
    text-align: center;
}

tr:nth-child(even) td {
    background-color: rgb(250, 250, 250);
}

tr:nth-child(odd) td {
    background-color: rgb(240, 240, 240);
}

.U.S {
    font: 1.7rem rapscallion;
    letter-spacing: 3px;
    text-shadow: 1px 1px 0 #fff, 0 0 9px #000;
}

.Turkey {
    font: 1.7rem rapscallion;
    letter-spacing: 3px;
    text-shadow: 1px 1px 0 #fff, 0 0 9px #000;
